@media (max-width: 1199.98px) {
    .container {
        width: 850px;
    };
    .catalog {
        &__content {
            justify-content: space-around;
        }
    }
    .footer {
        &__info {
            padding-top: 30px;
            width: 400px;
            height: 240px;
        }
    }
};

@media (max-width: 991.98px) {
    .container {
        width: 710px;
    };
    .promo {
        &__wrapper {
            margin-top: 60px;
        };
        &__header {
            font-size: 38px;
        };
        &__subheader {
            font-size: 20px;
        };
        &__icons {
            margin-top: 25px;
        };
    };
    .advantages {
        &__icon {
            width: 205px;
        };
    };
    .carousel {
        &__slider {
            position: relative;
            width: 80%;
            margin: 0 auto;
        }
    }
};

@media (max-width: 767.98px) {
    .container {
        width: 540px;
    };
    .xs-hidden {
        display: none;
    };
    .promo {
        &__wrapper {
            align-items: center;
        };
    };
    .advantages {
        &__wrapper {
            flex-direction: column;
            align-items: center;
        };
        &__icon {
            width: 390px;
        };
        &__text {
            margin-bottom: 25px;
        };
    };
    .carousel {
        &__slider {
            position: relative;
            width: 80%;
            margin: 0 auto;
            .slick-slide {
                img {
                    width: 100%;
                    height: 100%;
                    padding: 0;
                    display: block;
                    margin: 0 auto;
                }
            }
            .slick-track {
                height: 350px;
            }
        }
    }
    .catalog {
        &__tab {
            width: 165px;
            font-size: 15px;
            line-height: 50px;
        }
    }
    .review {
        &__img {
            width: 149px;
            height: 149px;
        }
        &__text {
            margin-left: 41px;
        }
        &__descr {
            font-size: 14px;
        }
    }
    .footer {
        &__info {
            padding-top: 20px;
            width: 350px;
            height: 200px;
        }
        &__addr {
            font-size: 16px;
        }
        &__phone {
            margin-top: 20px;
            font-size: 16px;
        }
        &__social {
            margin-top: 30px;
            justify-content: space-around;
        }
        &__social-item {
            width: 40px;
            height: 40px;
        }
    }
}

@media (max-width: 575.98px) {
    .container {
        width: 305px;
    }
    .promo {
        header {
            flex-direction: column;
            justify-content: center;
            margin-top: 10px;
            .header__contacts {
                align-items: center;
            };
            a {
                margin-bottom: 15px;
            };
            button {
                width: 200px;
                height: 50px;
            };
        };
        &__header {
            text-align: center;
            font-size: 24px;
        };
        &__subheader {
            text-align: center;
            font-size: 16px;
        };
        &__icons {
            width: 300px;
        };
        .button_main {
            margin-top: 50px;
            width: 280px;
        };
        &__link {
            margin-top: 20px;
        };
    };
    .advantages {
        padding-top: 60px;
        &__header {
            font-size: 24px;
        };
        &__icon {
            width: 310px;
        };
    };
    .consultation {
        min-height: 615px;
        padding: 25px 15px;
        .title_left {
            font-size: 22px;
        }
        &__descr {
            font-size: 16px;
        };
        .feed-form {
            input {
                width: 285px;
            }
        };
        .button_submit {
            width: 285px;
        };
    };
    .carousel {
        &__slider {
            position: relative;
            width: 100%;
            margin: 0 auto;
            .slick-slide {
                img {
                    width: 100%;
                    height: 100%;
                    display: block;
                    margin: 0 auto;
                }
            }
        }
    }
    .catalog {
        .container {
            width: 360px;
        }
        &__tab {
            font-size: 11px;
            line-height: 48px;
        }
    }
    .review {
        &__block {
            text-align: center;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__subtitle {
            margin-top: 15px;
        }
    }
    .footer {
        &__info {
            width: 300px;
        }
    }
};