* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}
.container {
    position: relative;
    max-width: 950px;
    margin: 0 auto;
}

@import 'base/_variables';
@import 'base/_mixins.scss';
@import 'blocks/_promo.scss';
@import 'blocks/_header.scss';
@import 'blocks/_buttons.scss';
@import 'blocks/_advantages.scss';
@import 'blocks/titles.scss';
@import 'blocks/consultation.scss';
@import 'blocks/forms.scss';
@import 'blocks/carousel.scss';
@import 'blocks/catalog.scss';
@import 'blocks/review';

@import 'base/media';